@use "./mixins" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  color: rgb(186, 227, 124);
  background-color: #0f0f0f;
  font-family: "IBM Plex Mono", monospace, sans-serif;
  font-size: 16px;
  
  @include tablet {
    background-color: #e6e6e6;
  }
}

input, select {
  font-size: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

main {
  position: relative;
}