*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-moz-selection {
  color: lime;
  background-color: hotpink;
}

::selection {
  color: lime;
  background-color: hotpink;
}

body {
  height: 100%;
  color: rgb(186, 227, 124);
  background-color: #0f0f0f;
  font-family: "IBM Plex Mono", monospace, sans-serif;
  font-size: 16px;
}
@media (min-width: 768px) {
  body {
    background-color: #e6e6e6;
  }
}

input, select {
  font-size: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

main {
  position: relative;
}

.phone__contain {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 768px) {
  .phone__contain {
    padding: 2rem 0;
    height: calc(100vh - 132px);
  }
}
.phone__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  display: inline-block;
  border: 6px #0f0f0f solid;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
@media (min-width: 768px) {
  .phone__container {
    width: 360px;
    border-radius: 6px;
  }
}

.phone-header {
  display: flex;
  align-items: center;
  padding: 0.7rem;
  background-color: #0f0f0f;
}
.phone-header__avatar {
  height: 40px;
  border-radius: 150px;
  margin-right: 1rem;
}
.phone-header__title {
  font-size: 0.875rem;
}

.chat {
  height: 30rem;
  overflow: auto;
  border: 6px #0f0f0f solid;
  background: url("../assets/images/phone-background.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0.5rem;
}

.phone-footer {
  background-color: #0f0f0f;
}

.chat-box {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 10px 0;
}
.chat-box__form {
  display: flex;
  padding: 1rem;
}
.chat-box__input {
  width: 100%;
  border-radius: 50px;
  padding: 0.5rem;
  border: transparent 1px solid;
  outline: none;
}
.chat-box__btn {
  border-radius: 50px;
  margin-left: 0.6rem;
  background-color: #bae37c;
  color: #0f0f0f;
  border: transparent 1px solid;
  padding: 0.6rem;
}
.chat-box__user-text, .chat-box__kanye-text {
  display: inline-block;
  max-width: 100%;
  overflow-wrap: break-word;
  border: transparent 1px solid;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  padding: 0.5rem;
  margin: 0.5rem 0;
  color: #000;
  font-size: 0.75rem;
}
.chat-box__user-text {
  background-color: #dcf8c6;
}
.chat-box__kanye-text {
  background-color: #fafafa;
}

.kanye__image {
  height: 350px;
  position: absolute;
  top: 20px;
  left: -6px;
  z-index: -1;
  -webkit-animation: moveHead 10s infinite;
          animation: moveHead 10s infinite;
}

@-webkit-keyframes moveHead {
  0% {
    left: -6px;
  }
  25% {
    left: -40px;
  }
  30% {
    left: -60px;
  }
  40% {
    left: -80px;
  }
  50% {
    left: -90px;
  }
  60% {
    left: -100px;
  }
  75% {
    left: -120px;
    transform: rotate(-10deg);
  }
  80% {
    left: -140px;
  }
  90% {
    left: -160px;
  }
  100% {
    left: -180px;
    transform: rotate(-20deg);
  }
}

@keyframes moveHead {
  0% {
    left: -6px;
  }
  25% {
    left: -40px;
  }
  30% {
    left: -60px;
  }
  40% {
    left: -80px;
  }
  50% {
    left: -90px;
  }
  60% {
    left: -100px;
  }
  75% {
    left: -120px;
    transform: rotate(-10deg);
  }
  80% {
    left: -140px;
  }
  90% {
    left: -160px;
  }
  100% {
    left: -180px;
    transform: rotate(-20deg);
  }
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #111;
  padding: 0.5rem 0;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #111;
  padding: 0.5rem 0;
}
.footer__list {
  display: flex;
}
.footer__list-item {
  padding: 0.5rem;
}/*# sourceMappingURL=styles.css.map */